<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webex Calling Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>
<body>
  <div id="heading"> 
    <h1>
      <i class='fas fa-phone-square-alt white-color'></i>
      Webex Calling Automation Dashboard
    </h1>
  </div>
  
  <div id="topic">
    Dashboard Overview
  </div>

  <div id="options">
    <p>This page generates summary report for selected test suites across all Venues.</p>
    <select name="Select test suites" id="testsuites">
      <option value="lgw">LGW</option>
      <option value="sgw">SGW</option>
      <option value="mobius">Mobius</option>
      <option value="lexus">Lexus</option>
    </select>

    <button>Get Summary Plot</button>
  </div>
<div class="dashboard">
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay; let i = index"  >
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="i !== 0; else firstColumn">
        <button mat-icon-button color="primary" *ngIf="element[column] >= 192">
          <mat-icon class="checkmark">check_circle</mat-icon>
        </button>
        <button mat-icon-button color="primary" *ngIf="element[column] < 192">
          <mat-icon class="crossmark">highlight_off</mat-icon>
        </button>
      </ng-container>
      <ng-template #firstColumn>
        {{element[column] }}
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div
        class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <table mat-table [dataSource]="element.isotopes" class="mat-elevation-z8 table2">
          <ng-container matColumnDef="{{ column }}" *ngFor="let column of isotopeColumnsToDisplay;let i = index">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let isotope">
              <ng-container *ngIf="i !== 0; else firstColumn">
                <!-- <button mat-icon-button color="primary" [disabled]="!element[column]">
                  <mat-icon>{{ element[column] ? 'check' : '' }}</mat-icon>
                </button> -->
                <button mat-icon-button color="primary" *ngIf="isotope[column] >= 96">
                  <mat-icon class="checkmark">check_circle</mat-icon>
                </button>
                <button mat-icon-button color="primary" *ngIf="isotope[column] < 96">
                  <mat-icon class="crossmark">highlight_off</mat-icon>
                </button>
              </ng-container>
              <ng-template #firstColumn>
                {{isotope[column] }}
              </ng-template>
            </td>
          </ng-container>
          <tr mat-row *matRowDef="let isotope; columns: isotopeColumnsToDisplay"></tr>
        </table>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplay"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
</div>
</body>
</html>